.info {
    display: flex;
    flex-direction: row;
    padding: 64px;
    gap: 117px;
    margin-top: 67px;
}

.mainImg {
    width: 30%;
}

.infoText {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.title {
    font-size: 30px;
    font-family: 'Inter';
}

.price {
    font-size: 22px;
    font-family: 'Inter';
}

.explanation {
    font-size: 19px;
    font-family: 'Inter';
    display: block;
    margin-top: 50px;
}

.optionWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.withItemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.imgWrapper img {
    width: 35%;
}

.imgSet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
}

.imgSet img {
    height: 550px;
    /* 원하는 값으로 */
    width: auto;
    object-fit: contain;
    /* 잘리는 거 싫으면 contain, 꽉 채우고 싶으면 cover */
}

.colorDec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.colorDec span {
    text-align: center;
    font-family: 'Inter';
    font-size: 25px;
    margin-bottom: 80px;
}

.guideWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guideWrapper img {
    width: 35%;
}

.qnaWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomLogo {
    display: block;
    margin: 0 auto;
}

.button {
    background-color: #ADA797;
    cursor: pointer;
    border-radius: 8px;
    height: 50px;
    font-family: "Inter";
    font-weight: 700;
    color: white;
}

.button:hover {
    background-color: #918c7f;
}

.set {
    text-align: center;
    font-family: "Inter";
    font-size: 23px;
    font-weight: 700;
}

.saleWrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.sale {
    color: #87B4C9;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 700;
}

.prevPrice {
    text-decoration: line-through;
    color: #6F6C6C;
    font-size: 20px;
}

.salePrice{
    font-family: 'Inter';
    font-size: 30px;
}