.mainImage {
    width: 100vw;
    /* height: 100%; */
    min-height: calc(100vh - 67px);
    overflow: hidden;
    margin-top: 67px;
}

.mainImage img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}