.mainImage {
    max-width: 100vw;
    width: 100%;
    /* height: 100%; */
    min-height: calc(100vh - 67px);
    overflow: hidden;
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2vw;
    padding-right: 50px;
    box-sizing: border-box;
}

.mainImage img{
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.asideImage{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    flex-shrink: 0;
}

.explanation{
    font-family: "Geist";
    font-size: 16px;
}

.outerWrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
}

.barWrapper{
    position: relative;
}

.background{
    object-fit: fill;
    height: 100vh;
}

.intro{
    position: absolute;
    top: 70%;
    left: 5%;
    font-family: "Anonymous Pro";
    font-size: 16px;
    color: #434242;
}

.pinkText{
    color: #EBA99E;
}

.itemsWrapper{
    margin-top: 67px;
    margin-left: 5%;
}

.introduction{
    font-size: 16px;
    font-family: "Geist Sans";
    margin-top: 5%;
    margin-bottom: 3%;
}

.items{
    background-color: #F0EFE7;
    width: 120%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storeWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* 화살표 + 이미지 슬라이더 래퍼 */
.storeSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* 화살표 버튼 */
.storeArrow {
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
    padding: 4px 8px;
    line-height: 1;
}


.hr{
    width: 80%;
    margin: 0 auto;
}

.store{
    width: 60%;
}

.info{

    padding: 10vh 2vw;
    color: #000000;
}

.title{
    font-size: 40px;
    font-family: "Yeseva One";
}

.basic{
    font-size: 24px;
    font-family: "Geist Sans";
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.storeInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-size: 24px;
    font-family: "Geist Sans";
    margin: 2vh 0;
}

.storeInfo img{
    width: 35px;
    height: 35px;
}

.storeFeature{
    font-size: 27px;
    font-family: "Yeseva One";
    margin-bottom: 1vh;
}

.storeDetails{
    font-size: 16px;
    font-family: "Geist Sans";
}

.lastMent{
    font-size: 22px;
    font-family: "Geist Sans";
    margin-top: 2vh;
}

.bottomLogo{
    display: block;
    margin: 0 auto;
}