.header{
    width: 100%;
    height: 10vw;
    max-height: 67px;
    background-color: #F0EFE7;
    position: fixed;
    top: 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerMenu{
    width: 8vw;
    max-width: 45px;
    position: absolute;
    left: 1vw;
}

.headerMenu:hover{
    cursor: pointer;
}

.headerLogo{
    height: 7vw;
    max-height: 40px;
}