.itemWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.itemImg{
    width: 280px;
}

.title{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Inter';
    text-align: center;
    white-space: pre-line;
}

.price{
    font-size: 16px;
    font-family: 'Inter';
    text-align: center;
}