.labels {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3vw;
}

.basic {
    width: 8vw;
    height: 4vh;
    background-color: #E9E9E9;
    color: #757575;
    font-size: 0.9vw;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    width: 8vw;
    height: 4vh;
    background-color: #D0E3EA;
    color: #FFFBEE;
    font-size: 0.9vw;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
}