.productWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.productItem{
    cursor: pointer;
}

.itemFeature{
    margin-top: 2vh;
    font-size: 20px;
    font-family: "Inter";
    text-align: center;
}

.itemName{
    font-size: 16px;
    font-family: "Inter";
    text-align: center;
}

.itemPrice{
    margin-top: 0.5vh;
    font-size: 16px;
    text-align: center;
}

.saleWrapper{
    margin-top: 0.5vh;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.sale{
    font-weight: bold;
    color: #71A0CC;
}

.price{
    text-decoration: line-through;
}