.labelName{
    margin-top: 67px;
    margin-left: 3vw;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.labelWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
}

.route{
    color: #7b7979;
    font-size: 15px;
    font-family: "Inter";
}

.label{
    color: #87B4C9;
    font-size: 40px;
    font-weight: 900;
    font-family: "Kufam";
}

.productNum{
    color: #4E4D4D;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter";
}

.bottomLogo{
    display: block;
    margin: 0 auto;
}